.form-size {
    border: 2px dashed black;
    width: 500px;
    margin: auto;
}
.span-user-icon{
    font-size: 2rem;
}

.user_icon{
}
.div-icon{
    text-align: center;
}
.center-div {
    margin: 0 auto;
    width: 100px; 
}
.parent{
display: flex; /* contexte sur le parent */
flex-direction: column; /* direction d'affichage verticale */
justify-content: center; /* alignement vertical */
}
